.about {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 110px 0 66px;
  }

  @media (max-width: $tablet-width) {
    padding: 53px 0 77px;
  }

  @media (max-width: $mobile-width) {
    padding: 37px 0 65px;
  }
}

@media (min-width: $desktop-width) {
  .about::after {
    @include beforeAfter;
    width: 225px;
    height: 258px;
    right: 25px;
    top: 390px;
    background: url('../img/tr-left.png') no-repeat;
    transform: rotate(180deg);
    z-index: -1;
  }

  .about__container::after {
    @include beforeAfter;
    width: 225px;
    height: 258px;
    left: -170px;
    top: -60px;
    background: url('../img/tr-left.png') no-repeat;
    z-index: -1;
  }
}

.about__container {
  padding: 0 25px;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.about .main-title {
  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 23px;
    margin-top: -6px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    padding-bottom: 75px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 32px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 43px;
  }
}

.about__item {
  margin-bottom: 30px;
  border: 1px solid $about;
  border-left-width: 2px;
  border-left-color: $blue;
  min-height: 299px;
  background: $white;
  transition: background .3s;

  @media (min-width: $desktop-width) {
    width: 48.7%;
    margin-right: 30px;
    padding: 40px 33px 58px 46px;
  }

  @media (max-width: $tablet-width) {
    width: 47.7%;
    padding: 25px;
    min-height: 232px;
    padding: 22px 19px 22px 24px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    padding: 25px 19px 22px 21px;
    margin-bottom: 20px;
  }
}

.about__item:hover {
  background: $blue;
  cursor: pointer;
}

.about__item:hover svg path{
  fill: $white;
}

@media (min-width: $tabletstart-width) {
  .about__item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

.about__item h4 {
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  font-weight: normal;
  margin: 16px 0 15px;
  transition: color 0.3s;

  @media (max-width: $tablet-width) {
    margin: 5px 0 8px;
  }

  @media (max-width: $mobile-width) {
    margin: 9px 0;
    font-size: 20px;
    line-height: 140.62%;
  }
}

.about__item:hover h4,
.about__item:hover p {
  color: $white;
}

@media (max-width: $mobile-width) {
  .about__item:nth-child(2) {
    padding: 25px 19px 22px 17px;
  }
}

.about__item p {
  margin: 0;
  line-height: 23px;
  font-size: 16px;
  color: $text;
  transition: color 0.3s;

  @media (max-width: $tablet-width) {
    line-height: 22px;
  }
}

.about__company {
  display: flex;
}

.about__img {
  @media (min-width: $desktop-width) {
    margin-right: 68px;
    width: 115px;
  }

  @media (max-width: $tablet-width) {
    height: 351px;
    margin-right: 60px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__desc {
  @media (max-width: $tablet-width) {
    max-height: 196px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    max-height: 337px;
  }
}

.about__img img {
  max-height: 100%;
  width: auto;
}

.about__text {
  width: calc(100% - 175px);

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.about__text h2 {
  color: $text;
}

.about__text p {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 25px;

  @media (max-width: $mobile-width) {
    margin: 0 0 45px;
  }
}

.about__text .button {
  margin-top: 12px;
  padding: 14px 49px 13px;

  @media (max-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 36px;
  }
}
