.form {
  background: $blue;
  color: $white;

  @media (min-width: $desktop-width) {
    padding: 94px 0 114px;
  }

  @media (max-width: $tablet-width) {
    padding: 83px 0 103px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 43px;
  }
}

.form__container {
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    padding: 0 90px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.form__title {
  color: $white;
  margin-bottom: 9px;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form__wrap {
  @media (min-width: $desktop-width) {
    width: 49%;
  }
}

.form__decor {
  @media (min-width: $desktop-width) {
    width: 41%;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.form__wrap input {
  width: 100%;
  background: $input;
  height: 50px;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  padding: 0 16px;
  border: none;
  transition: all 0.3s;

  &::-moz-placeholder {
    color: $white;
  }

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-ms-input-placeholder {
    color: $white;
  }
}

.form__wrap textarea {
  width: 100%;
  background: $input;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  padding: 13px 16px;
  border: none;
  transition: all 0.3s;

  &::-moz-placeholder {
    color: $white;
  }

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-ms-input-placeholder {
    color: $white;
  }

  @media (min-width: $desktop-width) {
    height: 154px;
    margin-bottom: 37px;
  }

  @media (max-width: $tablet-width) {
    height: 160px;
    margin-bottom: 43px;
  }

  @media (max-width: $mobile-width) {
    height: 104px;
    margin-bottom: 30px;
  }
}

.form__wrap label {
  display: none;
}

.form__wrap .personal {
  display: block;
  width: 46%;
  color: $white;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}


.form__wrap p {
  margin: 0 0 50px;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  @media (max-width: $tablet-width) {
    margin: 0 0 55px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 28px;
  }
}

.form__top {
  @media (min-width: $mobile-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin-bottom: 0;
  }
}

.form__item {
  width: 48%;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.form__wrap button {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  padding: 14px 0 13px;
  width: 100%;
  max-width: 270px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    max-width: 281px;
  }
}

.form__wrap button:hover {
  background: $white;
  color: $blue;
}

.form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.form__img {
  width: 511px;
  height: 288px;
  display: block;
  background: url("../img/air.png") no-repeat;
  position: relative;
  z-index: 2;
}

.form__decor.decor::after {
  bottom: -20px;
  z-index: 1;
}

.form__decor.decor::before {
  top: -57px;
  z-index: 1;
}
