.page-header {
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 5;
  max-width: 1460px;
  padding: 0 25px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: flex;

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 15px 0;
  }
}

.page-header .logo__title {
  color: $white;
}

.page-header__contacts {
  @media (max-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 5px;
  }
}

.page-header__contacts a {
  color: $white;
  display: inline-block;
  vertical-align: middle;
}

.page-header__contacts span {
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__phone svg {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.page-header__mail svg {
  @media (max-width: $tablet-width) {
    width: 25px;
    height: 19px;
  }
}

.page-header__mail {
  @media (max-width: $tablet-width) {
    margin-right: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 18px;
  }
}

.page-header__contacts svg {
  display: inline-block;
  vertical-align: middle;
}

.page-header__phone {
  @media (min-width: $desktop-width) {
    margin: 0 40px 0 88px;
  }
}

.page-header__contacts .button {
  padding: 14px 26px 13px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header .logo__text {
    display: none;
  }

  .page-header .logo__img {
    width: 38px;
    height: 38px;
  }
}
