.personal {
  display: block;
  position: relative;
  width: 48%;
}
.personal span {
  font-size: 14px;
  line-height: 16px;
  color: #white;
  opacity: 0.8;
  display: block;
  padding-left: 32px;
  position: relative;
}

#personal {
  opacity: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  z-index: 1;
}

.personal::before {
  @include beforeAfter;
  border: 1px solid $white;
  opacity: 0.8;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
}

.personal span::after {
   @include beforeAfter;
   width: 9px;
   height: 6px;
   left: 4px;
   top: 6px;
   background: url('../img/personal.svg') no-repeat;
   opacity: 0;
}

#personal:checked + span::after {
  opacity: 1;
}
