.products {
  background: $black;

  @media (min-width: $desktop-width) {
    padding: 90px 0 97px;
  }

  @media (max-width: $tablet-width) {
    padding: 50px 0 28px;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 0 32px;
  }
}

.products__container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1220px;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px;
  }
}

.products__title {
  color: $white;
  margin-bottom: 47px;

  @media (max-width: $tablet-width) {
    max-width: 613px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 41px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.products__item {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 31.5%;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  @media (max-width: 1200px) {
    width: 29.5%;
  }

  @media (max-width: $tabletbig-width) {
    margin-right: 49px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 43px;
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.products__img {
  @media (max-width: $mobile-width) {
    height: 256px;
    overflow: hidden;
  }
}

.products__img img {
  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    height: 100%;
    width: auto;
  }
}

.products__name {
  font-size: 20px;
  line-height: 30px;
  color: $white;
  margin: 0;
  position: absolute;
  top: 53px;
  left: 43px;
  text-align: left;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: normal;

  @media (max-width: $tablet-width) {
    top: 45px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    left: 28px;
  }
}

.products__arrow {
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 63px;
  height: 63px;
  background: $blue;

  @media (max-width: $mobile-width) {
    bottom: 0;
  }
}

.products__arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
