.social {
  list-style: none;
  padding: 0;
  margin: 54px 0 0;
  display: flex;

  @media (max-width: $tablet-width) {
    margin: 0;
    justify-content: flex-end;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    justify-content: center;
  }
}

.social__item {
  margin-right: 15px;
}

.social__item:last-child {
  margin-right: 0;
}
