img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

.page-body {
  overflow-x: hidden;
  background: $white;
  font-family: "PT Mono", "Arial", "Helvetica", monospace;
  margin: 0;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.page-body--active {
  overflow-y: hidden;
}

.button {
  background: transparent;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid $white;
  padding: 14px 32px 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
}

.button--white {
  color: $white;
}

.button--blue {
  color: $blue;
  border: 1px solid $blue;
}

.button:hover {
  box-shadow: 0 0 10px 3px rgba(34, 60, 80, 0.2) inset;
  color: $white;
}

.button:focus {
  opacity: 0.7;
}

.error-message {
  margin-bottom: 10px;
  font-size: 12px;
}

.main-title {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  text-align: left;

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 51px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}
