// globals

@import "globals/variables.scss";
@import "globals/fonts.scss";
@import "globals/global.scss";

//blocks

@import "blocks/page-header.scss";
@import "blocks/banner.scss";
@import "blocks/form.scss";
@import "blocks/decor.scss";
@import "blocks/personal.scss";
@import "blocks/page-footer.scss";
@import "blocks/logo.scss";
@import "blocks/social.scss";
@import "blocks/accordion.scss";
@import "blocks/site-list.scss";
@import "blocks/about.scss";
@import "blocks/products.scss";
@import "blocks/page-popup.scss";
